<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="defaultStatementTimeout" value="0" /><!-- 무한대로 기다림 0초는 무한대-->
        <setting name="jdbcTypeForNull" value="VARCHAR" /><!-- NULL / VARCHAR / OTHER-->

        <!-- mybatis default setting Start-->
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="true" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="useGeneratedKeys" value="false" />
        <setting name="autoMappingBehavior" value="PARTIAL" /><!-- NONE / PARTIAL / FULL-->
        <setting name="defaultExecutorType" value="SIMPLE" /><!-- SIMPLE / REUSE / BATCH-->
        <setting name="safeRowBoundsEnabled" value="false" />
        <setting name="localCacheScope" value="SESSION" /><!-- SESSION / STATEMENT-->
        <setting name="callSettersOnNulls" value="true" />
        <!-- mybatis default setting End -->
    </settings>

    <typeHandlers>
        <!-- <typeHandler handler="jwork.orm.mybatis.typehandler.ObjectTypeHandler" javaType="java.lang.Object"/> -->


    </typeHandlers>




</configuration>
